* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.login-wrap{
  background-image: url('/images/classroom.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.admin-wrap{
  background-image: url('/images/chalk.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.home,
.students,
.admin {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.students {
  background-image: url('/images/classroom.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
  vertical-align: text-top ;
  font-size: 100px;
}
.admin {
  background-image: url('/images/chalk.jpeg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.auth-form-container,
.login-form,
.register-form {
  text-align: center;
  min-height: 40vh;
  align-items: center;
  justify-content: center;
  top:50%;
  font-size: 24px;
}

label {
  text-align: left;
  padding: 0.25 rem 0;
}

input { 
  border: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  color: blue;
  border-color: #fda085;
  border-width: 10px;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}

.titles{
background-color: black;
opacity: 75%;
color:white
}

.adminTitles{
  background-color: black;
  opacity: 75%;
  color:white
  }

.titles span {
  background-color: black;
  opacity: 75%;
}

.login-h {
  padding: 25em;
}

.button {
  background-color: grey;
}

.fields {
vertical-align: center;;
}

.logButton {
  margin: 10px;
  padding: 15px;
  font-size: large;
  width: 20vh;
  border-radius: 10px;
  background: linear-gradient(90deg, #fda085, transparent) #f6d365 ; 
  transition: 1s;
}

.logButton:hover, .logButton:focus {
  background-color: #e91e63;
  cursor: pointer;
}

